name: Pack Release

on:
  release:
    types: [published]
permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Zip datapack
        run: |
          cd src
          zip -r "../${{ github.event.repository.name }}-${{ github.ref_name }}.zip" .
          cd ..

      - name: Upload release assets
        uses: softprops/action-gh-release@v2
        with:
          files: "${{ github.event.repository.name }}-${{ github.ref_name }}.zip"
